<!DOCTYPE html>
<html>
  <head>
    <title>Wikinimous</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container">
      <div class="nav">
        <a href="/articles"><h1 id="title">Wikinimous</h1></a>
        <div class="button">
          <a id="new" href="/articles/new/">New Article</a>
        </div>
      </div>

      <%= yield %>
    </div>
  </body>
</html>
